.flex {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0,0,0,.1);
    background-color: rgba(255, 255, 255, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: 1.5rem;
    transform: skewX(-12deg);

    

    
}